@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Vazir';
  src: url('./assets/Fonts/Vazir.ttf') format('truetype');
}

body {
  font-family: 'Vazir', sans-serif;
}